* {
  padding: 0;
  margin: 0;
}
.container {
  display: grid;
  height: 100vh;
  
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "search search"
    "pokedisplay pokedisplay"
    "supereffective not-effective";
}
.search {
  padding: 2rem;
  grid-area: search;
  background-color: bisque;
  text-align: center;
}
.pokedisplay {
  grid-area: pokedisplay;
  background-color: aquamarine;
  text-align: center;
}
.attacking {
  grid-area: supereffective;
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "type1 type2"; 
  
}

.type1 { 
  grid-area: type1; 
  background-color: coral;
}
.type2 { 
  grid-area: type2; 
  background-color: crimson;
}

.defending {
  grid-area: not-effective;
  background-color: cornflowerblue;
}

#searchbtn {
    color: brown;
}
